/*Background Settings*/
body{  
  margin: 0;  
  padding: 0;  
  background:url(homeBackground.JPG) no-repeat; 
  background-size: cover;
  height: 100vh; 
  font-family: 'Arial';  
} 

/*Navigation bar settings*/
.navigation-bar {
  width: 100%;  /* i'm assuming full width */
  height: 90px; /* change it to desired width */
  background-color: rgba(0, 159, 174, 0.001); /* change to desired color */
}


.dropdown {
float: right;
  vertical-align: center;
  margin-right: 20px;
  height: 80px;        /* if you want it to take the full height of the bar */
  line-height: 80px;
overflow: hidden;

}

.dropdown .dropbtn {
width: 200px;  
  height: 50px;  
  border: none;  
  border-radius: 17px;  
  padding-right: 7px;  
  color: purple;
  font-size: 17px;
  transition-duration: 0.4s;

}

.dropdown:hover .dropbtn, .dropbtn:focus {
background-color: plum;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 200px;
line-height: 30px;
box-shadow: 0px 5px 10px 0px white;
z-index: 1;
}

.dropdown-content a {
float: none;
color: purple;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

.dropdown-content a:hover {
background-color: #ddd;
}

.show {
display: block;
}
