/*Background Settings*/
body{  
    margin: 0;  
    padding: 0;  
    background:url(students.JPG) no-repeat; 
    background-size: cover;
    height: 100vh; 
    font-family: 'Arial';  
} 
/*Navigation bar settings*/
.navigation-bar {
    width: 100%;  /* i'm assuming full width */
    height: 90px; /* change it to desired width */
    background-color: rgba(0, 159, 174, 0.4); /* change to desired color */
}
.navigation-bar > a {
    float: right;
    vertical-align: center;
    margin-right: 20px;
    height: 80px;        /* if you want it to take the full height of the bar */
    line-height: 80px;    /* if you want it vertically middle of the navbar */
}
#profile:hover {
  background-color: #4cd5db;
  color: white;
}
#log_out{
    width: 200px;  
    height: 50px;  
    border: none;  
    border-radius: 17px;  
    padding-right: 7px;  
    color: rgba(105, 126, 143, 0.99);
    font-size: 17px;
    transition-duration: 0.4s
}
#log_out:hover {
  background-color: #ffbc38;
  color: white;
}
#back{
    width: 200px;  
    height: 50px;  
    border: none;  
    border-radius: 17px;  
    padding-right: 7px;  
    color: rgba(105, 126, 143, 0.99);
    font-size: 17px;
    transition-duration: 0.4s;
}

#back:hover {
  background-color: #ffbc38;
  color: white;
}

/* Transparent container */
.container {
  max-width:700px;
  height:auto;
  background: rgba(2, 2, 2, 0.945);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-top: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  }

.pwd {
background-color:transparent;
width: auto;
font-size: 20px;
text-align:left;
align-content: center;
padding-left:20px;
padding-right: 20px;
padding-top: 20px;
padding-bottom: 10px;
}

.textbox{
  width: 100%;  
  height: 20px;
  border-style: solid;
  border-color: rgb(165, 165, 165);
  border-radius: 10px;
  background-color:transparent;
  color:  white;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align:left;
  text-decoration: none;
  display:flexbox;
  font-size: 16px;
  margin-left: auto;
  margin-right: 10px;

}

.pro-pic{
  width: auto;
  height: 110px;
  margin: auto;
  border-radius: 50%;
}

.name{
  font-size: 24px;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 15px 0 5px;
  color:rgb(7, 148, 141);
}

.pw-label{
  font-size: 16px;
	font-weight: 500;
  color:rgb(165, 165, 165);
  text-align: right;
  width: auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn1{
  float: left;
  background-color: rgb(7, 148, 141);
  border-radius: 30px;
  padding: 15px;
  width:100px;
  margin: 10px 10px;
  color: white;
  border: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn1:hover{
  background-color: white;
  color:rgb(7, 148, 141) ;
}

.btn2{
  float: right;
  background-color: rgb(7, 148, 141);
  border-radius: 30px;
  padding: 15px;
  width:100px;
  margin: 10px 10px;
  color: white;
  border: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn2:hover{
  background-color: white;
  color:rgb(7, 148, 141) ;
}

.error
{
  /*align-items: center;*/
  color : #FF0000;
  margin-bottom: 5px;
  font-size: 14px;
  /*align-items: center;*/
}
