/*Background Settings*/
body{  
    margin: 0;  
    padding: 0;  
    background:url(classroom.JPG) no-repeat; 
    background-size: cover;
    height: 100vh; 
    font-family: 'Arial';  
} 


/*Navigation bar settings*/
.navigation-bar {
    width: 100%;  /* i'm assuming full width */
    height: 120px; /* change it to desired width */
    background-color: rgba(0, 159, 174, 0.8); /* change to desired color */
}

.navigation-bar > a {
    float: right;
    vertical-align: center;
    margin-right: 20px;
    height: 80px;        /* if you want it to take the full height of the bar */
    line-height: 80px;    /* if you want it vertically middle of the navbar */
}
#profile:hover {
  background-color: #4cd5db;
  color: white;
}
#log_out{
    width: 200px;  
    height: 50px;  
    border: none;  
    border-radius: 17px;  
    padding-right: 7px;  
    color: rgba(105, 126, 143, 0.99);
    font-size: 17px;
}

#log_out:hover {
  background-color: #4cd5db;
  color: white;
}

/*Contained button settings*/
#button {
  width: 200px;  
  height: 40px;
  border: none;
  border-radius: 17px;
  color: rgba(105, 126, 143, 0.99);
  padding: center;
  text-align:center;
  text-decoration: none;
  display: block;
  /*font-size: 20px;*/
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-weight: 200;
  font-size: 1.0rem;
  color: black;
}

#button:hover {
  background-color: #d95525;
  color: white;
  font-weight: 200;
  font-size: 1.0rem;
  color: black;
}
.transbox {
   margin-left: 30%;
  margin-right: 30%;
 top:30%
  width: 200px;  
  height: 600px;
  background-color:rgb(255,255,255,0.4);
  border: 2px solid white;
  
}
/*Transparent box*/
.transbox p {
  margin: 10%;
  font-weight: bold;
  color: #d95525;
}
/*Profile card*/
.card {
  margin-left: 35%;
  margin-right: 35%;
  max-width: 150px;
  max-height:100px;
  text-align:top;
  font-family: arial;
  font-weight: 200;
  font-size: 1.0rem;
  color: black;
   text-align:right;
}
#center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.btn {
   
  color: white; /* Add a text color */
  padding: 14px 30px; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
}

.change {
background-color: #f6893e;
transition-duration: 0.4s;
border-radius: 8px;
border-color:none;
padding: 12px 30px;
position: absolute;
top: 86%;
  left: 35%;
 
} /* Green */
.change:hover {
background-color: #d8c5b4;
}
.back {
background-color: #f6893e;
transition-duration: 0.4s;
border-radius: 8px;
border-color:none;
padding: 12px 30px;
position: absolute;
top: 94%;
  left: 15%;
 
} /* Green */
.back:hover {
background-color: #d8c5b4;
}
.text {
  color: black;
  position: absolute;
top: 55%;
  left: 45%;
 font-size: 25px;
font-weight: bold;
}


