/*Navigation bar settings*/
.navigation-bar {
width: 100%;  /* i'm assuming full width */
height: 90px; /* change it to desired width */
background-color: rgba(0, 159, 174, 0.001); /* change to desired color */
}

.p{
top: 0px;
}


/* The sidepanel menu */
.sidepanel {
height: 100%; /* Specify a height */
width: 0; /* 0 width - change this with JavaScript */
position: fixed; /* Stay in place */
z-index: 1; /* Stay on top */
top: 0;
right: 0;
background-color: plum; /* Black*/
overflow-x: hidden; /* Disable horizontal scroll */
padding-top: 60px; /* Place content 60px from the top */
transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 20px;
color: purple;
display: block;
transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 30px;
margin-left: 50px;
}

.navigation-bar > a {
float: right;
vertical-align: center;
margin-right: 20px;
height: 80px;        /* if you want it to take the full height of the bar */
line-height: 80px;
overflow: hidden;
}

#logo{
float: left;
}

#name_tag{
float: right;
width: 150px;  
height: 70px;  
border: none; 
font-size: 15px; 
text-align: top;
background-color: rgba(0, 159, 174, 0.001);
}

/* Style the button that is used to open the sidepanel */
.openbtn {
width: 50px;  
height: 50px;  
border: none;  
border-radius: 17px;  
padding-right: 7px;  
color: purple;
font-size: 20px;
transition-duration: 0.4s;
}

.openbtn:hover {
background-color: plum;
}

.vertical-center {
      margin: 0;
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  }

.horizontal-center {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .box {
      width:80%;
      height:100px auto;
      background:#FFF;
      margin:50px auto;
      box-sizing: border-box;
      padding-top: 10px;
      border-radius: 10px;
      align-items: center;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  }

  .thread-container {
    width:80%;
    height:100px auto;
    background: transparent;
    margin:40px auto;
    padding-top: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    align-items: center;
}


.box2 {
  width:auto;
  height:auto;
  background:white;
  margin-top:20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  align-self: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}


  /* Popup form for ask question */

  @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  height: 100vh;
  /*width: 100%;*/
  /*background:rgb(46, 0, 46);*/
  background:url(ForumBackground.jpg) repeat;
  background-size: cover;
}

.show-btn{
  background: rgb(255, 104, 3);
  padding: 10px 10px;
  font-size: 20px;
  font-weight: 500;
  font-weight: bold;
  color:white;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.show-btn, .container{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type="checkbox"]{
  display: none;
}

.container{
  display: none;
  background: rgb(240, 239, 239);
  width: 75%;
  height: auto;
  padding: 30px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  box-sizing: border-box;
  border-radius: 10px;
}
#show:checked ~ .container{
  display: block;
}
.container .close-btn{
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 18px;
  cursor: pointer;
}
.container .close-btn:hover{
  color: red;
}
.container .text{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  color: steelblue;
}
.container form{
  margin-top: -20px;
}
.container form .data{
  height: 45px;
  width: 100%;
  margin: 40px 0;
}
form .data label{
  font-size: 18px;
}
form .data input{
  height: 100%;
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  border: 1px solid silver;
}

form .btn{
  margin: 30px 0;
  height: 45px;
  width: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
form .btn .inner{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  z-index: -1;
  background:skyblue;   /*Styling of Post button */
  transition: all 0.4s;
}
form .btn:hover .inner{
  background-color: steelblue;
  left: 0;
}
form .btn button{
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.section{
  display:flex;
  padding-bottom: 5px;
  padding-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  height:auto;
}

.question-name{
  width:70%;
  height: auto;
  padding-top: 15px;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  color:black;
}

.question-date{
  text-align: right;
  height: auto;
  width:300px;
  padding-top: 20px;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  color:grey;
}

.question-title{
  font-weight: bold;
  padding-top: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.question-description{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.question-avatar{
  width: 60px auto;
  height: 40px;
  margin: 5px 5px 0 5px;
}

.reply-info{
  height: auto;
  width:100%;
  padding-top: 45px;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  color:grey;
}

.view-button{
  margin-top: 30px;
  margin-bottom: 10px;
  padding:10px 15px 10px 15px;
  border-radius: 10px;
  font-weight: 700;
  color:white;
  background-color: rgb(255, 104, 3);
  border:none;
}

.view-button:hover{
  background-color: rgba(255, 104, 3, 0.788) ;
}
