body{
  background-color:lightblue;
}

/*Navigation bar settings*/
.navigation-bar {
width: 100%;  /* i'm assuming full width */
height: 90px; /* change it to desired width */
background-color: rgba(0, 159, 174, 0.001); /* change to desired color */
}

.p{
top: 0px;
}


/* The sidepanel menu */
.sidepanel {
height: 100%; /* Specify a height */
width: 0; /* 0 width - change this with JavaScript */
position: fixed; /* Stay in place */
z-index: 1; /* Stay on top */
top: 0;
right: 0;
background-color: plum; /* Black*/
overflow-x: hidden; /* Disable horizontal scroll */
padding-top: 60px; /* Place content 60px from the top */
transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 20px;
color: purple;
display: block;
transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 30px;
margin-left: 50px;
}

.navigation-bar > a {
float: right;
vertical-align: center;
margin-right: 20px;
height: 80px;        /* if you want it to take the full height of the bar */
line-height: 80px;
overflow: hidden;
}

#logo{
float: left;
}

#name_tag{
float: right;
width: 150px;  
height: 70px;  
border: none; 
font-size: 15px; 
text-align: top;
background-color: rgba(0, 159, 174, 0.001);
}

/* Style the button that is used to open the sidepanel */
.openbtn {
width: 50px;  
height: 50px;  
border: none;  
border-radius: 17px;  
padding-right: 7px;  
color: purple;
font-size: 20px;
transition-duration: 0.4s;
}

.openbtn:hover {
background-color: plum;
}

.thread-container {
  width:80%;
  height:100px auto;
  background:white;
  margin:40px auto;
  box-sizing: border-box;
  border-radius: 10px;
  align-items: center;
  padding-bottom: 10px;
}

.box2 {
width:auto;
height:auto;
background:white;
margin-bottom: 20px;
box-sizing: border-box;
border-radius: 10px;
align-self: center;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.box3 {
  width:auto;
  height:auto;
  background:rgb(228, 228, 228);
  margin-top:20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  align-self: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.section{
display:flex;
padding-bottom: 5px;
padding-top: 10px;
margin-left: 20px;
margin-right: 20px;
height:auto;
}

.question-name{
width:70%;
height: auto;
padding-top: 15px;
font-style: italic;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 15px;
color:black;
}

.question-date{
text-align: right;
height: auto;
width:300px;
padding-top: 20px;
font-style: italic;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 12px;
color:grey;
}

.question-title{
font-weight: bold;
padding-top: 5px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.question-description{
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.question-avatar{
width: 60px auto;
height: 40px;
margin: 5px 5px 0 5px;
}

.reply-info{
height: auto;
width:100%;
padding-top: 45px;
font-style: italic;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 12px;
color:grey;
}

.reply-button{
margin-top: 30px;
margin-bottom: 10px;
padding:10px 15px 10px 15px;
border-radius: 30px;
font-weight: 700;
color:white;
background-color: rgb(110, 189, 253);
border:none;
cursor: pointer;
}

.reply-button:hover{
background-color: rgba(100, 100, 100, 0.897) ;
color:white;
}


/* Reply form popup */
.replybox {
  height: 0;/* 0 height - change this with JavaScript */
  width: auto; 
  position: relative;
  z-index: 1; /* Stay on top */
  background:rgb(110, 189, 253);
  overflow: hidden;
  padding-top: 0; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  margin-top:20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  padding-right: 30px;
  padding-left: 15px;
}


/* When you mouse over the navigation links, change their color */
.replybox a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.replybox .closebtn {
  position: absolute;
  top: 4px;
  right: 10px;
  font-size: 25px;
  cursor: pointer;
  color: white;
}

.replybox .closebtn:hover {
  color:rgb(170, 170, 170);
}

.replying-to{
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  font-size: 14px;
  padding-left: 5px;
}

.reply-message{
  border-radius: 20px;
  border-color: grey;
  border-width: 0.5px;
  padding: 5px 5px 0 10px;
  height: 150px;
  width: 100%;
  font-size: 13px;
  border: 1px solid silver;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.post-button{
  margin-top: 10px;
  margin-bottom: 10px;
  padding:10px 15px 10px 15px;
  border-radius: 30px;
  font-weight: 700;
  color: rgb(110, 189, 253);
  background-color:white;
  border:none;
  cursor: pointer;
  position: absolute;
  bottom: 4px;
  right: 18px;
  }

  .post-button:hover{
    background-color: rgb(170, 170, 170);
    color: white;
  }

