/*Background Settings*/
body{  
  margin: 0;  
  padding: 0;  
  background:url(submitContentBackgroung.JPG) no-repeat; 
  background-size: cover;
  height: 100vh; 
  font-family: 'Arial';  
} 

/*Navigation bar settings*/
.navigation-bar {
  width: 100%;  /* i'm assuming full width */
  height: 120px; /* change it to desired width */
  background-color: rgba(0, 159, 174, 0.8); /* change to desired color */
}

.navigation-bar > a {
  float: right;
  vertical-align: center;
  margin-right: 20px;
  height: 80px;        /* if you want it to take the full height of the bar */
  line-height: 80px;    /* if you want it vertically middle of the navbar */
}

/*Profile and log out buttons settings*/
#back{
  width: 200px;  
  height: 50px;  
  border: none;  
  border-radius: 17px;  
  padding-right: 7px;  
  color: rgba(105, 126, 143, 0.99);
  font-size: 17px;
}

#back:hover {
background-color: #4cd5db;
color: white;
}

#log_out{
  width: 200px;  
  height: 50px;  
  border: none;  
  border-radius: 17px;  
  padding-right: 7px;  
  color: rgba(105, 126, 143, 0.99);
  font-size: 17px;
}

#log_out:hover {
background-color: #4cd5db;
color: white;
}

/*Contained button settings*/
#submitButton {
width: 200px;  
height: 40px;
border: none;
border-radius: 17px;
background-color: rgba(0, 159, 174, 0.8);
color:  white;
padding: center;
text-align:center;
text-decoration: none;
display: block;
font-size: 20px;
margin: 4px 2px;
transition-duration: 0.4s;
cursor: pointer;
}

#submitButton:hover {
background-color: #ffbc38;
color: white;
}

#cancelButton {
width: 200px;  
height: 40px;
border: none;
border-radius: 17px;
background-color: red;
color:  white;
padding: center;
text-align:center;
text-decoration: none;
display: block;
font-size: 20px;
margin: 4px 2px;
transition-duration: 0.4s;
cursor: pointer;
}

#cancelButton:hover {
background-color: #ffbc38;
color: white;
}

* {
box-sizing: border-box;
}

input[type=text], select, textarea {
width: 100%;
padding: 12px;
border: 1px solid #ccc;
border-radius: 4px;
resize: vertical;
}

label {
padding: 12px 12px 12px 0;
display: inline-block;
}

.container {
width: 250%;
border-radius: 5px;
background-color: #f2f2f2;
padding: 16px;
}

.col-25 {
float: left;
width: 25%;
margin-top: 6px;
}

.col-75 {
float: left;
width: 75%;
margin-top: 6px;
}

.col-30 {
float: right;
width: 25%;
margin-top: 6px;
}

.col-70 {
float: right;
width: 25%;
margin-top: 6px;
}


/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.col-25, .col-75, .COL-70 {
  width: 100%;
  margin-top: 0;
}
}

#center {
margin: 0;
position: absolute;
top: 55%;
left: 25%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}