

body{
	  background:#c9cd55; 
	 margin:0;
	 padding:0;
 background: url(leaderboard.JPG) no-repeat; 
     background-size: cover; 
    height: 100vh; 
}

  /*Navigation bar settings*/
.navigation-bar {
width: 100%;  /* i'm assuming full width */
height: 90px; /* change it to desired width */
background-color: rgba(0, 159, 174, 0.001); /* change to desired color */
}


/* The sidepanel menu */
.sidepanel {
height: 100%; /* Specify a height */
width: 0; /* 0 width - change this with JavaScript */
position: fixed; /* Stay in place */
z-index: 1; /* Stay on top */
top: 0;
right: 0;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background-color: #d9db6d; /* Black*/
overflow-x: hidden; /* Disable horizontal scroll */
padding-top: 60px; /* Place content 60px from the top */
transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 20px;
color:#497d3d;
display: block;
transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 30px;
margin-left: 50px;
}

.navigation-bar > a {
float: right;
vertical-align: center;
margin-right: 20px;
height: 80px;        /* if you want it to take the full height of the bar */
line-height: 80px;
overflow: hidden;
}

#logo{
float: left;
}


/* Style the button that is used to open the sidepanel */
.openbtn {
width: 50px;  
height: 50px;  
border: none;  
border-radius: 17px;  
padding-right: 7px;  
color: #497d3d;
font-size: 20px;
transition-duration: 0.4s;
}

.openbtn:hover {
background-color: #2fa17b;
}

/* The next three classes are for the name dislay button
in nav bar */

.name-button{
  float: right;
  width: auto;  
  height: 50px;  
  border-radius: 30px; 
  border-color: transparent;
  text-align: center;
  background-color: white;
  display: flex;
  padding: 5px 10px 5px 10px;
  margin-top: 14px;
  margin-right: 100px;
  cursor: pointer;
  }

  .name-button:hover{
    background-color: #a2c55c;
  }

.avatar{
  float: right; 
  width: 36px;
  height: auto;
}

.name-tag{
width: auto;  
height: auto;  
border-radius:30px; 
border-color: transparent;
font-size: 14px; 
color:#497d3d;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align: center;
padding: 0 0 0 5px;
margin-left: 5px;
margin-right: 5px;
margin-bottom: 5px;
}
/*display leaderboard and grade using this label*/
.label {
  padding: 8px 20px 8px 20px;
  width: auto;
  height:auto;
  background:#497d3d ;
  color: white;
  font-size: 30px;
  border-radius: 30px;
  position: absolute;
  top:9%;
  left:19%;
  text-align:center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  }
/*box outerline*/
.outerL{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgba(255, 255, 255, 0.541);
  padding:10px;
	box-sizing: border-box;
  position: absolute;
  margin-left: 50px;
  border-radius: 10px;
  width: 50%;
  height: 80%;
  overflow: auto;
  margin-top:50px;
}

.outerL::-webkit-scrollbar{
  background:  #2fa17b2c;
  width:12px;
}

.outerL::-webkit-scrollbar-thumb{
  background: #a2c55c;
  border-radius: 20px;

}

.innerL{
   display:block; 
}
.outerL li{
    display:flex;
    justify-content: space-between;
    padding:15px;
    padding-left:10%;
    padding-right:10%;
}

.outerL .headerL{
  background-color:#a2c55c ;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #f1f1f1;
  font-size: 18px;
  border-radius: 30px;

}
.outerL .bodyL{
  background-color:  rgba(255, 255, 255, 0.486);
  font-size: 16px;
  color: #2fa17b;
}

.our-user{
  background-color: #d9db6d;
  color: white;
  border-radius: 30px;
  font-size: 19px;
}
 