/* @import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap'); */


 *{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body{
	  background:#c9cd55; 
	 margin:0;
	 padding:0;
 background: url(leaderboard.JPG) no-repeat; 
     background-size: cover; 
    height: 100vh; 
}

.wrapper{
	width: 100%;
	height: 100%;
}

.lboard_section{
	width: 600px;
	height: 500px;
	position: absolute;
	margin-top: 1%;
	margin-left:59%;
	 /* margin: 70px auto 0;  */
	background:#2fa17b;
	padding: 25px 40px;
	position: relative;
	 border-radius: 17px; 

	/* border: 17px solid transparent;
  /* padding: 15px; */
  /* border-image: url(e.JPG) 10% round; */ 
}

.lboard_section .lboard_tabs ul{
	display: flex;
}

.lboard_section .lboard_tabs ul li{
	margin-right: 50px;
	font-size: 18px;
	font-weight: 600;
	color: #3a3d51;
	cursor: pointer;
}

.lboard_section .lboard_tabs ul li:hover,
.lboard_section .lboard_tabs ul li.active{
	color: #fff;
}

.lboard_wrap{
	position: absolute;
	top: 70px;
	left: 40px;
	background: #9cd7c3;
	width: 100%;
	height: 100%;
	border-radius: 17px;
	/* border: 17px solid transparent; */
  /* padding: 15px; */
  /* border-image: url(e.JPG) 10% round;
  border: 5px solid red; */
}

.lboard_wrap .lboard_item{
	padding: 25px;
}

.lboard_wrap .lboard_mem{
	display: flex;
	align-items: center;
	padding: 17px 3px;
	border-bottom: 1px solid white;
}

.lboard_wrap .lboard_mem:first-child{
	padding-top: 0;
}

.lboard_wrap .lboard_mem:last-child{
	padding-bottom: 0;
	border-bottom: 0;
}

.lboard_wrap .lboard_mem .img{
	width: 50px;
}

.lboard_wrap .lboard_mem img{
	display: block;
	width: 100%;
}

.lboard_wrap .lboard_mem .name_bar{
	margin: 0 20px;
	width: calc(100% - 150px);
}

.lboard_wrap .lboard_mem .name_bar p{
	color: #3a3d51;
}

.lboard_wrap .lboard_mem .name_bar p span{
	margin-right: 5px;
}

.lboard_wrap .lboard_mem .points{
	width: 100px;
	color: #3a3d51;
}

.lboard_wrap .lboard_mem .name_bar .bar_wrap{
	width: 100%;
	height: 5px;
	background: white;
	margin-top: 5px;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}

.lboard_wrap .lboard_mem .name_bar .bar_wrap .inner_bar{
	position: absolute;
	top: 0;
	left: 0;
	height: 5px;
	background:#e65924;
	border-radius: 5px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.label {
	color: white;
	padding: 8px;
	border-radius:12PX;
	width: 250px;  
  height: 50px;
  border: none;
  ;
  color:white;
  position: absolute;
  top:9%;
  left:59%;
  text-align:center;
  text-decoration: none;
  display: block;
  font-size: 20px;
  margin: 4px 2px;
  
  }

  #center {
	margin: 0;
	position: absolute;
	top: 43%;
	left: 2%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
  }
  
  .success {background-color: #033323;}

  /*Navigation bar settings*/
.navigation-bar {
width: 100%;  /* i'm assuming full width */
height: 90px; /* change it to desired width */
background-color: rgba(0, 159, 174, 0.001); /* change to desired color */
}

.p{
top: 0px;
}


/* The sidepanel menu */
.sidepanel {
height: 100%; /* Specify a height */
width: 0; /* 0 width - change this with JavaScript */
position: fixed; /* Stay in place */
z-index: 1; /* Stay on top */
top: 0;
right: 0;
background-color: rgb(240, 194, 110); /* Black*/
overflow-x: hidden; /* Disable horizontal scroll */
padding-top: 60px; /* Place content 60px from the top */
transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 20px;
color: brown;
display: block;
transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 30px;
margin-left: 50px;
}

.navigation-bar > a {
float: right;
vertical-align: center;
margin-right: 20px;
height: 80px;        /* if you want it to take the full height of the bar */
line-height: 80px;
overflow: hidden;
}

#logo{
float: left;
}

#name_tag{
float: right;
width: 150px;  
height: 70px;  
border: none; 
font-size: 15px; 
text-align: top;
background-color: rgba(0, 159, 174, 0.001);
}

/* Style the button that is used to open the sidepanel */
.openbtn {
width: 50px;  
height: 50px;  
border: none;  
border-radius: 17px;  
padding-right: 7px;  
color: brown;
font-size: 20px;
transition-duration: 0.4s;
}

.openbtn:hover {
background-color: rgb(241, 205, 138);
}