/*Background Settings*/
body{  
    margin: 0;  
    padding: 0;  
    background:url(submitContentBackgroung.JPG) no-repeat; 
    background-size: cover;
    height: 100vh; 
    font-family: 'Arial';  
} 

/*Navigation bar settings*/
.navigation-bar {
  width: 100%;  /* i'm assuming full width */
  height: 90px; /* change it to desired width */
  background-color: rgba(0, 159, 174, 0.001); /* change to desired color */
}

.p{
  top: 0px;
}


/* The sidepanel menu */
.sidepanel {
  height: 100%; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  right: 0;
  background-color: rgb(159, 128, 230); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: rgba(30, 4, 124, 0.884);
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 30px;
  margin-left: 50px;
}

.navigation-bar > a {
  float: right;
  vertical-align: center;
  margin-right: 20px;
  height: 80px;        /* if you want it to take the full height of the bar */
  line-height: 80px;
  overflow: hidden;
}

#logo{
  float: left;
}

#name_tag{
  float: right;
  width: 150px;  
  height: 70px;  
  border: none; 
  font-size: 15px; 
  text-align: top;
  background-color: rgba(0, 159, 174, 0.001);
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  width: 50px;  
  height: 50px;  
  border: none;  
  border-radius: 17px;  
  padding-right: 7px;  
  color: rgba(30, 4, 124, 0.884);
  font-size: 20px;
  transition-duration: 0.4s;
}

.openbtn:hover {
  background-color:  rgb(159, 128, 230);
}

/*Contained button settings*/
#submitButton {
  width: 200px;  
  height: 40px;
  border: none;
  border-radius: 17px;
  background-color: rgba(0, 159, 174, 0.8);
  color:  white;
  padding: center;
  text-align:center;
  text-decoration: none;
  display: block;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#submitButton:hover {
  background-color: #ffbc38;
  color: white;
}

#cancelButton {
  width: 200px;  
  height: 40px;
  border: none;
  border-radius: 17px;
  background-color:#ffbc38;
  color:  white;
  padding: center;
  text-align:center;
  text-decoration: none;
  display: block;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#cancelButton:hover {
  background-color:red;
  color: white;
}

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.container {
  width: 200%;
  border-radius: 5px;
  background-color: rgb(242, 242, 242, 0.7);
  padding: 16px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.col-30 {
  float: right;
  width: 25%;
  margin-top: 6px;
}

.col-70 {
  float: right;
  width: 25%;
  margin-top: 6px;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, .COL-70 {
    width: 100%;
    margin-top: 0;
  }
}

#center {
  margin: 0;
  position: absolute;
  top: 55%;
  left: 55%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* The switch - the box around the slider */
.switch {
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FF0000; /*#84ada7*/
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #00FF00; /*#5c5f22*/
}

input:focus + .slider {
  box-shadow: 0 0 1px  #5c5f22;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.tooltip {
  position: absolute;
  display: inline-block;
}

.tooltip .tooltiptext {
  float: left;
  visibility: hidden;
  width: 300px;
  background-color:rgb(92, 95, 34, 0.3);
  color: black;
  font-size: small;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}