<<<<<<< HEAD
/*Background Settings*/
body{  
    margin: 0;  
    padding: 0;  
    background:url(selectSubjectBackground.JPG) no-repeat; 
    background-size: cover;
    height: 100vh; 
    font-family: 'Arial';  
} 

/*Navigation bar settings*/
.navigation-bar {
    width: 100%;  /* i'm assuming full width */
    height: 90px; /* change it to desired width */
    background-color: rgba(0, 159, 174, 0.4); /* change to desired color */
}

.navigation-bar > a {
    float: right;
    vertical-align: center;
    margin-right: 20px;
    height: 80px;        /* if you want it to take the full height of the bar */
    line-height: 80px;    /* if you want it vertically middle of the navbar */
}

/*Profile and log out buttons settings*/
#back{
    width: 200px;  
    height: 50px;  
    border: none;  
    border-radius: 17px;  
    padding-right: 7px;  
    color: rgba(105, 126, 143, 0.99);
    font-size: 17px;
    transition-duration: 0.4s;
}

#back:hover {
  background-color: #ffbc38;
  color: white;
}

#log_out{
    width: 200px;  
    height: 50px;  
    border: none;  
    border-radius: 17px;  
    padding-right: 7px;  
    color: rgba(105, 126, 143, 0.99);
    font-size: 17px;
    transition-duration: 0.4s;
}

#log_out:hover {
  background-color:#ffbc38;
  color: white;
}

/*Contained button settings*/
#button {
  width: 200px;  
  height: 40px;
  border: none;
  border-radius: 17px;
  color: rgba(105, 126, 143, 0.99);
  padding: center;
  text-align:center;
  text-decoration: none;
  display: block;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#button:hover {
  background-color:rgba(37, 133, 129);
  color: white;
}

#center {
  margin: 0;
  position:absolute;
  top: 55%;
  left: 25%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.card {
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  max-width: 250px;
  margin: auto;
  text-align: center;
  position:relative;
}

.card:hover{
  transform: scale(1.1);
  transition-duration: 0.9s;
}

.title {
  color: grey;
  font-size: 18px;
}

#button1 {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #5dddd3;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  transition-duration: 0.4s;
}

#button1:hover {
  background-color:#3a8a84;
  color: white;
}

#button2 {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #4f5d73;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  transition-duration: 0.4s;
}

#button2:hover {
  background-color:#2a313d;
  color: white;
}

#button3 {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #1a91a1;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  transition-duration: 0.4s;
}

#button3:hover {
  background-color:#0f525c;
  color: white;
}

#button4 {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #fb3742;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  transition-duration: 0.4s;
}

#button4:hover {
  background-color:#8f1f26;
  color: white;
}

#button5{
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #fb4f14;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  transition-duration: 0.4s;
}

#button5:hover {
  background-color:#99300c;
  color: white;
}

#button6{
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #ff926e;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  transition-duration: 0.4s;
}

#button6:hover {
  background-color:#ac634a;
  color: white;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
=======
=======
>>>>>>> a85db6ee36933fb50fe341fa05b4ff81bf30b20a
/*Background Settings*/
body{  
    margin: 0;  
    padding: 0;  
    background:url(selectSubjectBackground.JPG) no-repeat; 
    background-size: cover;
    height: 100vh; 
    font-family: 'Arial';  
} 

/*Navigation bar settings*/
.navigation-bar {
    width: 100%;  /* i'm assuming full width */
    height: 90px; /* change it to desired width */
    background-color: rgba(0, 159, 174, 0.4); /* change to desired color */
}

.navigation-bar > a {
    float: right;
    vertical-align: center;
    margin-right: 20px;
    height: 80px;        /* if you want it to take the full height of the bar */
    line-height: 80px;    /* if you want it vertically middle of the navbar */
}

/*Profile and log out buttons settings*/
#back{
    width: 200px;  
    height: 50px;  
    border: none;  
    border-radius: 17px;  
    padding-right: 7px;  
    color: rgba(105, 126, 143, 0.99);
    font-size: 17px;
    transition-duration: 0.4s;
}

#back:hover {
  background-color: #ffbc38;
  color: white;
}

#log_out{
    width: 200px;  
    height: 50px;  
    border: none;  
    border-radius: 17px;  
    padding-right: 7px;  
    color: rgba(105, 126, 143, 0.99);
    font-size: 17px;
    transition-duration: 0.4s;
}

#log_out:hover {
  background-color:#ffbc38;
  color: white;
}

/*Contained button settings*/
#button {
  width: 200px;  
  height: 40px;
  border: none;
  border-radius: 17px;
  color: rgba(105, 126, 143, 0.99);
  padding: center;
  text-align:center;
  text-decoration: none;
  display: block;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#button:hover {
  background-color:rgba(37, 133, 129);
  color: white;
}

#center {
  margin: 0;
  position:absolute;
  top: 55%;
  left: 25%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.card {
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  max-width: 250px;
  margin: auto;
  text-align: center;
  position:relative;
}

.card:hover{
  transform: scale(1.1);
  transition-duration: 0.9s;
}

.title {
  color: grey;
  font-size: 18px;
}

#button1 {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #5dddd3;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  transition-duration: 0.4s;
}

#button1:hover {
  background-color:#3a8a84;
  color: white;
}

#button2 {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #4f5d73;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  transition-duration: 0.4s;
}

#button2:hover {
  background-color:#2a313d;
  color: white;
}

#button3 {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #90deaa;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  transition-duration: 0.4s;
}

#button3:hover {
  background-color:#5a8b6a;
  color: white;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#center {
  margin: 0;
  position: absolute;
  top: 65%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}