/*Background Colour*/
body{  
    margin: 0;  
    padding: 0;  
    background:url(classroom.jpg) no-repeat; 
    background-size: cover;
    height: 100vh; 
    font-family: 'Arial';  
} 

.navigation-bar {
    width: 100%;  /* i'm assuming full width */
    height: 90px; /* change it to desired width */
    background-color: rgba(0, 159, 174, 0.8); /* change to desired color */
}

.navigation-bar > a {
    float: right;
    vertical-align: center;
    margin-right: 20px;
    height: 80px;        /* if you want it to take the full height of the bar */
    line-height: 80px;    /* if you want it vertically middle of the navbar */
}
#sign_in{
    width: 200px;  
    height: 40px;  
    border: none;  
    border-radius: 17px;  
    padding-right: 7px;  
    color: rgba(105, 126, 143, 0.99);
    font-size: 17px;
}

#sign_in:hover {
  background-color: #4cd5db;
  color: white;
}


#log_in{
    width: 200px;  
    height: 40px;  
    border: none;  
    border-radius: 17px;  
    padding-right: 7px;  
    color: rgba(105, 126, 143, 0.99);
    font-size: 17px;
}



h2{  
    text-align: center;  
    color: #277582;  
    padding: 20px;  
} 

/*Label Colours*/
label{  
    color: #08ffd1;  
    font-size: 17px;  
} 




#button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#button:hover {
  background-color: #4cd5db;
  color: white;
}

#container {
  height: 200px;
  position: relative;
  border: 3px solid green;
}

#center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.btn {
  background-color: #009fae;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  outline: none;
  position: absolute;
  top: 50%;
  left: 46%;
  
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
  top: 50%;
  left: 54.7%;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.btn:hover, .dropdown:hover .btn  {
  background-color: #0b7dda;
  
}
 
  
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color:#009fae ;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
  position: absolute;
  top: 90%;
  left: 10%;
  
}

.header {
  padding: 5px;
  background: #d95525;
  color: white;
  font-size: 17px;
  position:absolute;
  top:20%;
  
  width:230px;
  height:100px;
}

.btn-group button {
  border-radius: 8px;
  background-color: #e0e7ef; /* Green background */
  border: 1px solid green; 
  color: #4f7169; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 50%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
 position:relative;
 left:25.5%;
  top:100px;
font-size: 17px
}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #91a6a6;
}