/*Background Settings*/
body{  
  margin: 0;  
  padding: 0;  
  background:url(homeBackground.JPG) no-repeat; 
  background-size: cover;
  height: 100vh; 
  font-family: 'Arial';  
} 

/*Navigation bar settings*/
.navigation-bar {
width: 100%;  /* i'm assuming full width */
height: 90px; /* change it to desired width */
background-color: rgba(0, 159, 174, 0.001); /* change to desired color */
}

.p{
top: 0px;
}


/* The sidepanel menu */
.sidepanel {
height: 100%; /* Specify a height */
width: 0; /* 0 width - change this with JavaScript */
position: fixed; /* Stay in place */
z-index: 1; /* Stay on top */
top: 0;
right: 0;
background-color: plum; /* Black*/
overflow-x: hidden; /* Disable horizontal scroll */
padding-top: 60px; /* Place content 60px from the top */
transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 20px;
color: purple;
display: block;
transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 30px;
margin-left: 50px;
}

.navigation-bar > a {
float: right;
vertical-align: center;
margin-right: 20px;
height: 80px;        /* if you want it to take the full height of the bar */
line-height: 80px;
overflow: hidden;
}

#logo{
float: left;
}

#name_tag{
float: right;
width: 150px;  
height: 70px;  
border: none; 
font-size: 15px; 
text-align: top;
background-color: rgba(0, 159, 174, 0.001);
}

/* Style the button that is used to open the sidepanel */
.openbtn {
width: 50px;  
height: 50px;  
border: none;  
border-radius: 17px;  
padding-right: 7px;  
color: purple;
font-size: 20px;
transition-duration: 0.4s;
}

.openbtn:hover {
background-color: plum;
}

div.relative {
float: right;
top: 0px;
position: relative;
width: 600px;
height: 500px;
padding : 25px;
margin-top : 50px;
/*border: 3px solid #73AD21;*/
} 

div.absolute1 {
position: absolute;
top: 0px;
right: 200;
left: 200;
width: 600px;
height: 200px;
/*border: 3px solid #73AD21;*/
}

div.absolute2 {
position: absolute;
top: 150px;
/*right: 200;
left: 200;*/
width: 600px;
height: 200px;
/*border: 3px solid #73AD21;*/
}

div.absolute4 {
position: absolute;
top: 300px;
/*right: 200;
left: 200;*/
width: 600px;
height: 200px;
/*border: 3px solid #73AD21;*/
}

div.absolute3 {
position: absolute;
top: 400px;
/*padding: 10px 10px;*/
width: 600px;
height: 100px;
/*border: 3px solid #73AD21;*/
}


#button {
width: 200px;  
  height: 40px;  
  border: none;  
  border-radius: 17px;  
  padding-right: 7px;  
  color: purple;
  font-size: 17px;
  border: 3px solid purple;
}

#button:hover {
background-color: plum;
color: white;
border: 3px solid plum;
}

.serif {
font-family: "Times New Roman", Times, serif;
/*font-weight: 2000;*/
font-size: 70px;
color: #ff9900;
}

.sansserif {
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
color: #b3b3cc;
}

.monospace {
font-family: "Lucida Console", Courier, monospace;
font-size: 18px;
color: plum;
}

p.thick {
font-weight: bold;
}

#center {
margin: 0;
position: absolute;
/*top: 50%;
left: 50%;*/
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

/* The switch - the box around the slider */
.switch {
position: absolute;
display: inline-block;
width: 60px;
height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
opacity: 0;
width: 0;
height: 0;
}

/* The slider */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #FF0000; /*#84ada7*/
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #00FF00; /*#5c5f22*/
}

input:focus + .slider {
box-shadow: 0 0 1px  #5c5f22;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

.tooltip {
position: absolute;
display: inline-block;
}

.tooltip .tooltiptext {
float: left;
visibility: hidden;
width: 300px;
background-color:rgb(92, 95, 34, 0.3);
color: black;
font-size: small;
text-align: center;
border-radius: 6px;
padding: 5px 0;

/* Position the tooltip */
position: absolute;
z-index: 1;
}

.tooltip:hover .tooltiptext {
visibility: visible;
}