/*Background Settings*/
body{  
    margin: 0;  
    padding: 0;  
    background:url(students.JPG) no-repeat; 
    background-size: cover;
    height: 100vh; 
    font-family: 'Arial';  
} 


/*Navigation bar settings*/
.navigation-bar {
    width: 100%;  /* i'm assuming full width */
    height: 90px; /* change it to desired width */
    background-color: rgba(0, 159, 174, 0.4); /* change to desired color */
}

.navigation-bar > a {
    float: right;
    vertical-align: center;
    margin-right: 20px;
    height: 80px;        /* if you want it to take the full height of the bar */
    line-height: 80px;    /* if you want it vertically middle of the navbar */
}
#profile:hover {
  background-color: #4cd5db;
  color: white;
}
/*Profile and log out buttons settings*/
#log_out{
    width: 200px;  
    height: 50px;  
    border: none;  
    border-radius: 17px;  
    padding-right: 7px;  
    color: rgba(105, 126, 143, 0.99);
    font-size: 17px;
    transition-duration: 0.4s;
}

#log_out:hover {
  background-color: #ffbc38;
  color: white;
}
#back{
    width: 200px;  
    height: 50px;  
    border: none;  
    border-radius: 17px;  
    padding-right: 7px;  
    color: rgba(105, 126, 143, 0.99);
    font-size: 17px;
    transition-duration: 0.4s;
}

#back:hover {
  background-color: #ffbc38;
  color: white;
}


.transbox {
  position: center;
  margin-left: 30%;
  margin-right: 30%;
  top:30%
  width: 200px;  
  height: 600px;
  background-color:rgb(255,255,255,0.4);
  border: 2px solid white;
  
}
/*Transparent box*/
.transbox p {
  margin: 10%;
  font-weight: bold;
  color: #d95525;
}
/*Profile card*/
.card {
  margin-left: 35%;
  margin-right: 35%;
  max-width: 150px;
  max-height:100px;
  text-align:top;
  font-family: arial;
  font-weight: 200;
  font-size: 1.0rem;
  color: black;
   text-align:right;
}
#center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.btn {
   
  color: white; /* Add a text color */
  padding: 14px 30px; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
}

.change {
width: 200px;  
height: 40px;
border: none;
border-radius: 17px;
background-color: rgba(0, 159, 174, 0.8);
color:  white;
padding: center;
text-align:center;
text-decoration: none;
display: block;
font-size: 20px;
transition-duration: 0.4s;
cursor: pointer;
position: absolute;
top: 84%;
left: 55%;
 
}
.change:hover {

background-color: #ffbc38;
color: white;
}
.container {
  margin-top: 100px;
  padding: 32px;
}

body {
  background-color: #dde2ec;
  font-family: 'Roboto', sans-serif;
  color: #808893;
}

.form-container {
  margin: 6rem auto;
  padding: 4rem;
  border-radius: 1rem;
  max-width: 30rem;
  background-color: white;
  box-shadow: 0 4rem 4rem -3rem #495161;
}

h1 {
  font-weight: 500;
  font-size: 1.7rem;
  color: black;
}

input {
  border: 2px solid #d3d9f0;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0.3rem;
  height: 3.2rem;
  padding: 1rem;
}

input:focus, button:focus {
  border: 2px solid #;
}

input[type=submit] {
width: 200px;  
height: 40px;
border: none;
border-radius: 17px;
background-color:#ffbc38 ;
color:  white;
font-size: 20px;

} 

label {
  display: block;
  padding: 2rem 0 0.5rem;
}
.container {
padding: 32px;
margin-left: 30%;
margin-right: 30%;
position: absolute;
top: 30%;
font-weight: 200;
font-size: 1.0rem;
color: black;
}

.select-box {
position: relative;
display: flex;
width: 200px;  
height: 40px;
flex-direction: column;
border-radius: 18px;
}

.select-box .options-container {
background: rgba(0, 159, 174, 0.8);
color: #f5f6fa;
max-height: 0;
opacity: 0;
transition: all 0.4s;
border-radius: 8px;
overflow: hidden;
order: 1;
position: absolute;
z-index: 100;
}

.selected {
  
  border-radius: 17px;
  margin-bottom: 8px;
  position: relative;
  order: 0;
  width: 150px;  
  height: 30px;
  border: none;
  background-color:#ffbc38 ;
  color:  white;
  font-size: 20px;

}

.selected::after {
  content: "";
  background: url("img/arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 150px;
  width: 30px;
  right: 10px;
  top: 5px;
  transition: all 0.4s;
}

.select-box .options-container.active {
  max-height: 240px;
  opacity: 1;
  overflow-y: scroll;
  margin-top: 104px;
}

.select-box .options-container.active + .selected::after {
  transform: rotateX(180deg);
  top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
  width: 8px;
  background: rgba(0, 159, 174, 0.8);
  border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background: #ffbc38;
  border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected {
  padding: 12px 24px;
  cursor: pointer;
}

.select-box .option:hover {
  background:rgba(0, 159, 174, 0.8) ;
}

.select-box label {
  cursor: pointer;
}

.select-box .option .radio {
  display: none;
}

/* Searchbox */

.search-box input {
  width: 100%;
  padding: 12px 16px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  position: absolute;
  border-radius: 8px 8px 0 0;
  z-index: 100;
  border: 8px solid rgba(0, 159, 174, 0.8);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}

.search-box input:focus {
  outline: none;
}

.select-box .options-container.active ~ .search-box input {
  opacity: 1;
  pointer-events: auto;
}
