/*Background Colour*/
body{  
    margin: 0;  
    padding: 0;  
    background:url(../Images/register_cover.jpg) no-repeat; 
    background-size: cover;
    height: 100vh; 
    font-family: 'Arial';  
} 

form {
  /*background-color: black;*/
  border-radius: 5px;
  /*width: 25%;*/
  /*style="background-color:black"*/

  /*padding: 20px;*/
}

.navigation-bar {
    width: 100%;  /* i'm assuming full width */
    height: 90px; /* change it to desired width */
    background-color: rgba(0, 159, 174, 0.8); /* change to desired color */
}

.navigation-bar > a {
    float: right;
    vertical-align: center;
    margin-right: 20px;
    height: 80px;        /* if you want it to take the full height of the bar */
    line-height: 80px;    /* if you want it vertically middle of the navbar */
}

#logo{
  float: left;
}

#sign_in{
    width: 200px;  
    height: 40px;  
    border: none;  
    border-radius: 17px;  
    padding-right: 7px;  
    color: rgba(105, 126, 143, 0.99);
    font-size: 17px;
}

#sign_in:hover {
  background-color: #ffbc38;
  color: white;
}

#log_in{
    width: 200px;  
    height: 40px;  
    border: none;  
    border-radius: 17px;  
    padding-right: 7px;  
    color: rgba(105, 126, 143, 0.99);
    font-size: 17px;
}

#log_in:hover {
  background-color: #ffbc38;
  color: white;
}

/*signUp Box Colour*/
.signup{  
    width: 400px;  
    overflow: hidden;  
    margin: auto;  
    margin: 20 0 0 450px; 
    padding: 80px;  
    background: #6e7775;  
    border-radius: 15px ;       
}

h2{  
    text-align: center;  
    color: #277582;  
    padding: 20px;  
} 

/*Label Colours*/
/*label{  
    color: #08ffd1;  
    font-size: 17px;  
} */

/*Firstname Lastname Password & Email Settings*/
#Fname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}

#Lname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}

#Pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;     
}

#Email{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}

#submit{
  background-color: #4cd5db;
  color: white;
  padding: center;
  /*padding: 14px 20px;*/
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 40px;
}

#submit:hover {
  background-color: #9B9B9B; /*8A2BE2*/
  color: white;
}



#center {
  margin: 0;
  position: absolute;
  /*top: 50%;
  left: 50%;*/
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

button {
  background-color: white;
  color: white;
  padding: center;
  /*padding: 14px 20px;*/
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  /*opacity: 0.8;*/
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#button {
  width: 200px;  
  height: 40px;
  border: none;
  border-radius: 17px;
  color: rgba(105, 126, 143, 0.99);
  padding: center;
  text-align:center;
  text-decoration: none;
  display: block;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#button:hover {
  background-color: #4cd5db;
  color: white;
}

#container {
  height: 200px;
  width: 100%;
  position: relative;
  border: 3px solid green;
}

#center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/*input[type=submit]:hover {
  background-color: #45a049;
}*/

div{
  border-radius: 5px;
  background-color: #f2f2ff;
  padding: 5px;
  /*margin: 40%;
  /*padding-top: 50px;*/
  /*margin-left: 25%;*/
}



.modal {
  display: none; /* Hidden by default */
  position: fixed;  /*Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /*overflow: auto;  Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 70px; /*70*/
  /*margin-left: 25%;*/
  /*padding-left: 25%;
  padding-right: 25%;*/
}

.modal_stu {
  display: none; /* Hidden by default */
  position: fixed;  /*Stay in place */
  z-index: 1;  /*Sit on top */
  left: 0;
  right: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /*overflow: auto;  Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 0px;
  /*margin-left: 25%;*/
  /*align-items: : center;*/
  /*padding-left: 25%;
  padding-right: 25%;*/
}

.modal_tea {
  display: none; /* Hidden by default */
  position: fixed;  /*Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /*overflow: auto;  Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 80px;
  /*margin-left: 25%;*/
  /*padding-left: 25%;
  padding-right: 25%;*/
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
  /*padding-top: 0px;*/
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  /*margin: 24px 0 12px 0;*/
  position: relative;
}

img.avatar {
  width: 16%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.vl {
  /*border-left: 6px solid green;*/
  height: 60px;
  /*border-left: ;*/
  border-width: 5px;
}

.error
{
  color : #00FF00;
  margin-bottom: 5px;
  /*align-items: center;*/
}