/*Background Settings*/
body{  
    margin: 0;  
    padding: 0;  
    background:url(homeBackground.JPG) no-repeat; 
    background-size: cover;
    height: 100vh; 
    font-family: 'Arial';  
} 

/*Navigation bar settings*/
.navigation-bar {
    width: 100%;  /* i'm assuming full width */
    height: 108px; /* change it to desired width */
    background-color: rgba(0, 159, 174, 0.4); /* change to desired color */
}

.navigation-bar > a {
    float: right;
    vertical-align: center;
    margin-right: 20px;
    height: 80px;        /* if you want it to take the full height of the bar */
    line-height: 80px;    /* if you want it vertically middle of the navbar */
}

/*Profile and log out buttons settings*/
#profile{
    width: 200px;  
    height: 50px;  
    border: none;  
    border-radius: 17px;  
    padding-right: 7px;  
    color: rgba(105, 126, 143);
    font-size: 17px;
    transition-duration: 0.4s;
}

#profile:hover {
  background-color: #ffbc38;
  color: white;
}

#log_out{
    width: 200px;  
    height: 50px;  
    border: none;  
    border-radius: 17px;  
    padding-right: 7px;  
    color: rgba(105, 126, 143);
    font-size: 17px;
    transition-duration: 0.4s;
}

#log_out:hover {
  background-color: #ffbc38;
  color: white;
}

/*Contained button settings*/
#button {
  width: 200px;  
  height: 40px;
  border: none;
  border-radius: 17px;
  color: rgba(105, 126, 143, 0.99);
  padding: center;
  text-align:center;
  text-decoration: none;
  display: block;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#button:hover {
  background-color: #ffbc38;
  color: white;
}

#center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}